USE [GasDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/04/2026 01:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlertAudit]    Script Date: 18/04/2026 01:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertAudit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlertId] [int] NOT NULL,
	[ChangeType] [nvarchar](20) NOT NULL,
	[ChangeDate] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Detail] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alerts]    Script Date: 18/04/2026 01:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeterId] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Observation] [nvarchar](max) NOT NULL,
	[Codigo] [nvarchar](20) NULL,
	[TechnicianId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AssignedAt] [datetime2](7) NULL,
	[ReassignedAt] [datetime2](7) NULL,
	[AttendedAt] [datetime2](7) NULL,
	[RiskLevel] [decimal](5, 4) NULL,
	[AlertLevel] [nvarchar](max) NULL,
	[RejectReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_Alerts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 18/04/2026 01:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/04/2026 01:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251120061751_InitialCreate', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260412015009_AddUsers', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260413205559_AddAlertLevel', N'6.0.36')
GO
SET IDENTITY_INSERT [dbo].[AlertAudit] ON 

INSERT [dbo].[AlertAudit] ([Id], [AlertId], [ChangeType], [ChangeDate], [UserName], [Detail]) VALUES (1, 3, N'ASIGNACION', CAST(N'2025-12-04T06:42:19.2831186' AS DateTime2), N'sistema', N'Asignada al técnico Técnico José')
INSERT [dbo].[AlertAudit] ([Id], [AlertId], [ChangeType], [ChangeDate], [UserName], [Detail]) VALUES (2, 3, N'ASIGNACION', CAST(N'2025-12-04T06:49:57.4014440' AS DateTime2), N'sistema', N'Asignada al técnico Técnico José')
INSERT [dbo].[AlertAudit] ([Id], [AlertId], [ChangeType], [ChangeDate], [UserName], [Detail]) VALUES (3, 3, N'REASIGNACION', CAST(N'2025-12-04T06:53:52.4208871' AS DateTime2), N'sistema', N'Reasignada al técnico Técnico Yosselyn')
SET IDENTITY_INSERT [dbo].[AlertAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[Alerts] ON 

INSERT [dbo].[Alerts] ([Id], [MeterId], [Status], [Observation], [Codigo], [TechnicianId], [CreatedAt], [AssignedAt], [ReassignedAt], [AttendedAt], [RiskLevel], [AlertLevel], [RejectReason]) VALUES (1, N'M12345', N'Pendiente', N'Alerta validada por operador', NULL, NULL, CAST(N'2025-12-04T00:19:55.8211820' AS DateTime2), NULL, NULL, NULL, NULL, N'Media', NULL)
INSERT [dbo].[Alerts] ([Id], [MeterId], [Status], [Observation], [Codigo], [TechnicianId], [CreatedAt], [AssignedAt], [ReassignedAt], [AttendedAt], [RiskLevel], [AlertLevel], [RejectReason]) VALUES (2, N'A123', N'Cerrada', N'Se detectó consumo inusual', NULL, 3, CAST(N'2025-12-04T00:19:55.8211820' AS DateTime2), CAST(N'2025-12-06T01:13:04.7278669' AS DateTime2), CAST(N'2025-12-06T01:15:14.1177488' AS DateTime2), CAST(N'2025-12-06T01:16:15.8486187' AS DateTime2), NULL, N'Media', NULL)
INSERT [dbo].[Alerts] ([Id], [MeterId], [Status], [Observation], [Codigo], [TechnicianId], [CreatedAt], [AssignedAt], [ReassignedAt], [AttendedAt], [RiskLevel], [AlertLevel], [RejectReason]) VALUES (3, N'1001', N'Cerrada', N'Consumo anómalo detectado por Isolation Forest', N'ALT-0001', 2, CAST(N'2025-12-04T00:41:30.9930593' AS DateTime2), CAST(N'2025-12-11T02:25:33.3956326' AS DateTime2), CAST(N'2025-12-11T02:28:15.7271915' AS DateTime2), CAST(N'2025-12-11T02:29:28.0365516' AS DateTime2), NULL, N'Alta', NULL)
SET IDENTITY_INSERT [dbo].[Alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[Technicians] ON 

INSERT [dbo].[Technicians] ([Id], [FullName], [IsActive]) VALUES (1, N'Técnico José', 1)
INSERT [dbo].[Technicians] ([Id], [FullName], [IsActive]) VALUES (2, N'Técnico Yosselyn', 1)
INSERT [dbo].[Technicians] ([Id], [FullName], [IsActive]) VALUES (3, N'Técnico Julio', 1)
SET IDENTITY_INSERT [dbo].[Technicians] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role], [IsActive], [CreatedAt]) VALUES (1, N'Administrador', N'admin@calidda.com', N'123456', N'Admin', 1, CAST(N'2026-04-11T22:42:18.4911690' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role], [IsActive], [CreatedAt]) VALUES (2, N'Operador Centro Control', N'operador@calidda.com', N'123456', N'Operador', 1, CAST(N'2026-04-11T22:47:37.4961771' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role], [IsActive], [CreatedAt]) VALUES (3, N'Supervisor Fiscalización', N'supervisor@calidda.com', N'123456', N'Supervisor', 1, CAST(N'2026-04-11T22:47:45.8002343' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AlertAudit] ADD  CONSTRAINT [DF_AlertAudit_ChangeDate]  DEFAULT (sysdatetime()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[AlertAudit] ADD  CONSTRAINT [DF_AlertAudit_UserName]  DEFAULT ('sistema') FOR [UserName]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Technicians_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AlertAudit]  WITH CHECK ADD  CONSTRAINT [FK_AlertAudit_Alerts] FOREIGN KEY([AlertId])
REFERENCES [dbo].[Alerts] ([Id])
GO
ALTER TABLE [dbo].[AlertAudit] CHECK CONSTRAINT [FK_AlertAudit_Alerts]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [FK_Alerts_Technicians] FOREIGN KEY([TechnicianId])
REFERENCES [dbo].[Technicians] ([Id])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK_Alerts_Technicians]
GO
